* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#about_banner_cointainer {
    width: 100%;
    height: 100%;
    margin-top: -6vw;
    overflow: hidden;
  }
  
#banner_img {
    animation: banner ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
  }
  #about_banner {
    width: 100%;
    height: 48vw;
    background-size: 100% 100%;
    transition: 0.5s;
  }

.contact { 
  font-family: baskvill;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head{ 
  font-size: 104px;
  margin-bottom: 32px;
  padding: 0 300px;
  text-align: center;
}
.text, .title{ 
  font-family: intrepid;
  font-size: 20px;
}
.contact__container{
  padding: 128px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact{ 
  display: flex;
  flex-direction: column;
}
.title{ 
  font-size: 26px;
  margin-bottom: 20px;
  border-bottom: 1px solid #afafaf;
  width: 100%;
  float: left;
}
.contact__info{ 
  width: 50vw;
}
.contact__map{ 
  width: 50%;
  margin-right: 100px;
}
.sub__title{ 
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.infomation{ 
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}
.w-20{ 
  width: 40%;
  text-align: right;
}
.phone__holder{ 
  display: flex;
  align-items: center;
}
.r-10{
  margin-right: 10px;
}
.form__left, .form__right{ 
  display: flex;
  flex-direction: column;
  padding: 0 30px;

}
.contact__form{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.form__input{ 
  margin-bottom: 10px;
}
#standard-basic{
  width: 280px;
}
.discovery-hotel {
  width: 20%;
  height: 3vw;
  font-family: intrepid;
  font-size: 1.2vw;
  margin-top: 3vw;
  margin: auto;
  background-color: #fdfbf4;
  border: 1px solid black;
  transition: 1s;
  align-self: end;
  
  
}

.discovery-hotel:hover {
  padding-left: 2vw;
}

.discovery-hotel a {
  color: black;
}