* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#info_banner_cointainer {
    width: 100%;
    height: 100%;
    margin-top: -6vw;
    overflow: hidden;
  }
  
#banner_img {
    animation: banner ;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
  }
  #info_banner {
    width: 100%;
    height: 48vw;
    background-size: 100% 100%;
    transition: 0.5s;
  }

  @keyframes banner {
    0% {
      width: 120%;
      height: 120%;
    }
  
    100% {
      width: 100%;
      height: 100%;
    }
  }

  .info_details_book{
      width: fit-content;
      margin: auto;
  }

  .info_name{
      font-size: 4.5vw;
      font-family: Baskvill;
      margin: auto;
      width: 50%;
      text-align: center;
      margin-top: 3vw;
  }


  .info_title{
      font-size: 3vw;
      font-family: Baskvill;
      margin: auto;
      width: 70%;
      text-align: center;
      margin-top: 3vw;
  }
  .info_description{
    font-size: 1.5vw;
    font-family: intrepid;
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 2vw;
  }
  .info_details{
     
      width: fit-content;
      margin: auto;
      margin-top: 3vw;
      
  }
  .all_details{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3%;
      width: fit-content;
    
    
  }
  .detail{
      font-family: intrepid;
      font-size: 1.2vw;
      border-bottom: 1px solid #c9c9c8;
      padding-bottom: 0.5vw;
      margin-top: 1vw;
      margin-left: 3vw;
  }

  .book_now_container{
      width: 100%;
      border:  1px solid #c9c9c8;
      padding: 2vw;
      margin-top: 5vw;
      
  }
  
  .book_price {
      text-align: center;
      font-family: intrepid;
      font-size: 1.5vw;
  }

  .book_btn{
      border: 1px solid black;
      width: 60%;
      margin: auto;
      text-align: center;
      font-size: 1.2vw;
      font-family: intrepid;
      padding: 0.5vw 3vw;
      cursor: pointer;
      transition: 1s;
      margin-top: 1vw;
  }
  .book_btn:hover{
    padding-left: 4.5vw;
  }

  .Gallary_place{
      border-top: 1px solid #c9c9c8;
      margin-top: 4vw;
  }

  .Gallary_title{
      font-family: Intrepid;
      font-size: 3vw;
      margin: auto;
      margin-top: 2vw;
      text-align: center;
   
  }

  .Gallary_picture{
      width: 96%;
      margin: auto;
      
      
      margin-top: 4vw;
  }

  .pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
  }

  .picture_container{
    width: 100%;
    height: 15vw;
    overflow: hidden;
  }

  .pictures img{
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      cursor: pointer;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }
  
  .pictures img:hover{
    transform: scale(1.2);
  }